* {
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;
  color: #f0f0f0;
  font-family: "Poppins", sans-serif;
  list-style: none;
}

body {
  background-color: #040402;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
  margin: 0 0 2rem;
}

p {
  color: #6f6f6f;
}

* {
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;
  color: #f0f0f0;
  font-family: "Poppins", sans-serif;
  list-style: none;
}

body {
  background-color: #040402;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
  margin: 0 0 2rem;
}

p {
  color: #6f6f6f;
}

.section-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #040402;
  padding: 0 20px;
  margin: 0 auto;
  max-width: 1000px;
}
.section-container .section-title {
  margin-top: 60px;
  letter-spacing: 1px;
}

#about,
#projects,
#contact {
  justify-content: start;
}

#home {
  min-height: calc(100vh - 60px);
}
#home .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#home .title {
  width: 100%;
  text-align: center;
}
#home .title h1 {
  font-size: 3rem;
  margin: 0 0 15px;
}
#home .title h1 span {
  background: linear-gradient(to right, purple, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#home .title p {
  font-size: 1.5rem;
  margin: 0 0 40px;
  color: #6f6f6f;
}
#home .btn-border {
  background: linear-gradient(to right, red, purple);
  padding: 2px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 200ms ease-in-out;
  max-width: 200px;
}
#home .btn-border:hover {
  box-shadow: 0px 0px 6px red;
}
#home .btn {
  display: block;
  cursor: pointer;
  text-align: center;
  border-radius: 5px;
  letter-spacing: 1px;
  background-color: #040402;
  text-transform: uppercase;
  font-size: 16px;
  background-color: #040402;
  padding: 10px;
}

#about {
  padding: 30px 30px 70px;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
}
#about .description {
  font-size: 16px;
}
#about .description p {
  margin: 0 0 16px;
  letter-spacing: 1px;
}
#about .btn-border {
  background: linear-gradient(to right, red, purple);
  padding: 2px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 200ms ease-in-out;
  max-width: 200px;
  margin: 10px auto 20px;
}
#about .btn-border:hover {
  box-shadow: 0px 0px 6px red;
}
#about .btn {
  display: block;
  cursor: pointer;
  text-align: center;
  border-radius: 5px;
  letter-spacing: 1px;
  background-color: #040402;
  text-transform: uppercase;
  font-size: 14px;
  background-color: #040402;
  padding: 10px;
}

#tech {
  overflow-x: scroll;
  justify-content: start;
  flex-direction: row;
}
#tech svg {
  width: 80px;
}
#tech svg path {
  fill: #f0f0f0;
}

#projects {
  width: 100%;
}
#projects .cards-container {
  width: 100%;
  display: grid;
  grid-row-gap: 30px;
  grid-template-columns: 100%;
}
#projects .card {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 400px;
  background-color: #202020;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #040402;
  cursor: pointer;
  position: relative;
  padding: 20px;
}
#projects .card .card-title {
  position: absolute;
  top: 30px;
  font-size: 20px;
  letter-spacing: 2px;
}
#projects .card .card-icon-svg {
  width: 150px;
  height: 150px;
}
#projects .card .card-icon-svg.discover-movie {
  fill: url(#card-icon-gradient);
}
#projects .card .card-icon-svg.marvel-clon {
  width: 200px;
}
#projects .card .card-icon-svg.marvel-clon .marvel-bg {
  fill: url(#card-icon-gradient);
}
#projects .card .card-icon-svg.marvel-clon .marvel-text {
  fill: #202020;
}
#projects .card .card-icon-svg.strats-app {
  width: 200px !important;
  fill: url(#card-icon-gradient) !important;
}
#projects .card .card-icon-svg.strats-app g,
#projects .card .card-icon-svg.strats-app path {
  fill: url(#card-icon-gradient) !important;
}
#projects .card .card-description {
  position: absolute;
  bottom: 20px;
  width: 80%;
  font-size: 18px;
  text-align: center;
}
#projects .card .card-overlay {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 250ms ease-in;
  font-size: 1.5rem;
}
#projects .card .card-overlay .button {
  display: block;
  cursor: pointer;
  text-align: center;
  border: 1px solid #f0f0f0;
  padding: 10px;
  border-radius: 5px;
}
#projects .card .card-overlay .card-title,
#projects .card .card-overlay .card-description {
  color: #f0f0f0;
}
#projects .card:hover > .card-overlay {
  opacity: 1;
}

#contact .section-description {
  margin: 0 0 20px;
  font-size: 16px;
  letter-spacing: 1px;
}
#contact .section-description a {
  color: purple;
}
#contact .form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 720px;
  margin: 0 0 75px;
}
#contact .form .input-container {
  width: 100%;
  position: relative;
}
#contact .form .input-container .form-input {
  width: 100%;
  margin: 0 auto 10px;
  padding: 30px 15px 15px;
  background-color: #202020;
  border: none;
  font-size: 18px;
  border-radius: 5px;
}
#contact .form .input-container .form-input:focus {
  outline: none;
  box-shadow: 2px 2px purple, -2px 2px purple, 2px -2px purple, -2px -2px purple;
  background-color: #040402;
}
#contact .form .input-container .form-label {
  position: absolute;
  top: 20px;
  left: 15px;
  color: grey;
  font-size: 18px;
  opacity: 1;
  transition: all 100ms ease-in-out;
}
#contact .form .input-container.focused > .form-label {
  top: 10px;
  left: 15px;
  color: grey;
  font-size: 14px;
  opacity: 0.65;
}
#contact .form .input-container textarea {
  min-height: 200px;
}
#contact .form .btn-border {
  background: linear-gradient(to right, red, purple);
  padding: 2px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 200ms ease-in-out;
  max-width: 200px;
  margin: 20px auto 20px;
}
#contact .form .btn-border:hover {
  box-shadow: 0px 0px 6px red;
}
#contact .form .btn {
  display: block;
  cursor: pointer;
  text-align: center;
  border-radius: 5px;
  letter-spacing: 1px;
  background-color: #040402;
  text-transform: uppercase;
  font-size: 16px;
  background-color: #040402;
  padding: 10px;
  border: none;
  outline: none;
}

.decoration {
  width: 100%;
  overflow: hidden;
  text-align: center;
}
.decoration svg path {
  fill: url(#card-icon-gradient);
}

@media (min-width: 768px) {
  .section-container {
    padding: 0 40px;
  }

  #home {
    min-height: calc(100vh - 80px);
  }
  #home .title h1 {
    font-size: 4rem;
  }
  #home .title p {
    max-width: 800px;
    font-size: 2rem;
  }
  #home .btn {
    font-size: 20px;
  }

  #about {
    padding: 30px 45px 70px;
  }
  #about p {
    font-size: 18px;
  }
  #about .btn-border {
    margin-top: 48px;
  }
  #about .btn {
    font-size: 18px;
  }

  #projects .cards-container {
    box-sizing: border-box;
    justify-content: space-between;
    grid-template-columns: 48% 48%;
  }

  #contact .section-description {
    font-size: 18px;
  }
}
* {
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;
  color: #f0f0f0;
  font-family: "Poppins", sans-serif;
  list-style: none;
}

body {
  background-color: #040402;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
  margin: 0 0 2rem;
}

p {
  color: #6f6f6f;
}

.main-container-project {
  padding: 80px 20px 0;
}

.project-title {
  display: block;
  font-size: 2rem;
  margin: 0 auto 20px;
  max-width: 800px;
}

.slideshow-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  overflow-x: hidden;
  margin: 0 auto 10px;
}
.slideshow-container .modal-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0);
  z-index: -1;
  padding: 20px;
}
.slideshow-container .modal-bg.active {
  z-index: 99;
  background: rgba(0, 0, 0, 0.5);
}
.slideshow-container .modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: -1;
  opacity: 0;
  transform: scale(0);
  transition: 300ms ease-in;
}
.slideshow-container .modal-content.active {
  z-index: 99;
  opacity: 1;
  transform: scale(1);
}
.slideshow-container .modal-content .modal-img {
  max-height: 90vh;
  max-width: 90vw;
}
.slideshow-container .modal-content .close-btn {
  color: white;
  position: absolute;
  font-size: 48px;
  cursor: pointer;
  top: -40px;
  right: 0;
}

.slideshow {
  width: 100%;
  max-width: 800px;
  height: 50vw;
  max-height: 450px;
  position: relative;
  text-align: center;
}
.slideshow .slide {
  position: absolute;
  height: 100%;
  top: 0;
  left: 50%;
  opacity: 0;
  transition: all 400ms ease-in-out;
  cursor: pointer;
  z-index: -1;
}
.slideshow .slide.active {
  opacity: 1;
  transform: translateX(-50%);
  z-index: 10;
}
.slideshow .slide.toRight {
  transform: translateX(calc(15% - 50%));
}
.slideshow .slide.toLeft {
  transform: translateX(calc(-15% - 50%));
}
.slideshow .arrow-prev,
.slideshow .arrow-next {
  display: none;
}
.slideshow .arrow-prev {
  left: 0;
}
.slideshow .arrow-next {
  right: 0;
}

.dots-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-direction: row;
  width: 100%;
  height: 50px;
}
.dots-container .dot {
  display: block;
  cursor: pointer;
  text-align: center;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  margin: 10px;
  background-color: grey;
  z-index: 20;
  transition: all 400ms ease-in-out;
  opacity: 0.5;
}
.dots-container .dot.active {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background: purple;
}

.project-section {
  width: 100%;
  color: #6f6f6f;
  letter-spacing: 1px;
  margin: 0 auto 30px;
  max-width: 800px;
  font-size: 1rem;
  line-height: 1.4;
}
.project-section h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}
.project-section p {
  margin-bottom: 10px;
  letter-spacing: 1px;
}
.project-section ul {
  list-style: georgian !important;
}
.project-section li {
  position: relative;
  color: #6f6f6f !important;
  margin-left: 20px;
}
.project-section li::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background-color: #6f6f6f;
  position: absolute;
  left: -20px;
  top: 7.5px;
}
.project-section a:hover {
  color: purple;
  transition: all 200ms ease-in-out;
}

.tech-stack {
  margin-top: 20px;
}
.tech-stack .grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  row-gap: 20px;
  margin-bottom: 50px;
}
.tech-stack .grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.tech-stack .grid-item h3 {
  font-size: 1rem;
  margin-bottom: 10px;
  color: #6f6f6f;
}
.tech-stack .grid-item .tech-logo {
  height: 60px;
}
.tech-stack li {
  position: relative;
  margin: 0 0 10px 20px;
}
.tech-stack li::before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  background-color: purple;
  position: absolute;
  left: -20px;
  top: 3px;
}
.tech-stack li:hover a {
  color: purple;
  transition: all 200ms ease-in-out;
}

.decoration svg {
  width: 100%;
}

.buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-direction: row;
  margin-bottom: 80px;
}
.buttons-container .btn-border {
  background: linear-gradient(to right, red, purple);
  padding: 2px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 200ms ease-in-out;
  margin: 10px;
}
.buttons-container .btn-border:hover {
  box-shadow: 0px 0px 6px red;
}
.buttons-container .btn {
  display: block;
  cursor: pointer;
  text-align: center;
  border-radius: 5px;
  letter-spacing: 1px;
  background-color: #040402;
  padding: 10px;
  min-width: 120px;
  font-weight: 700;
}
.buttons-container .material-icons {
  margin-top: 5px;
}

@media (min-width: 768px) {
  .main-container-project {
    padding: 10px 40px 0;
  }

  .project-description {
    font-size: 18px;
  }

  .tech-stack h3,
.tech-stack li {
    font-size: 18px;
  }
  .tech-stack .grid-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .tech-stack .grid-item .tech-logo {
    height: 80px;
  }
}
#navbar {
  max-width: 1200px;
  margin: 0 auto;
}

.navbar__mobile {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  background-color: #040402;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 90;
  transition: all 300ms ease-in-out;
}
.navbar__mobile.scrollingPage {
  border-bottom: 1px solid #0f0f0f;
}
.navbar__mobile .logo {
  display: block;
  padding: 0 0 0 15px;
  font-size: 40px;
  letter-spacing: 2px;
  font-weight: 700;
}
.navbar__mobile .menu-btn-border {
  background: linear-gradient(to right, red, purple);
  padding: 2px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 200ms ease-in-out;
  margin: 10px;
}
.navbar__mobile .menu-btn-border:hover {
  box-shadow: 0px 0px 6px red;
}
.navbar__mobile .menu-btn {
  display: block;
  cursor: pointer;
  text-align: center;
  border-radius: 5px;
  letter-spacing: 1px;
  background-color: #040402;
  font-size: 40px;
  background-color: #040402;
}

.navbar__list-container {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: #202020;
  transition: all 200ms;
  transform: translateX(-100%);
  z-index: 99;
}
.navbar__list-container.active {
  transform: translateX(0);
}
.navbar__list-container .close-btn {
  display: block;
  cursor: pointer;
  text-align: center;
  font-size: 36px;
  padding: 15px;
  position: absolute;
  top: 0;
  left: 0;
}
.navbar__list-container ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: inherit;
  height: inherit;
}
.navbar__list-container ul li {
  padding: 25px;
  font-size: 26px;
  font-weight: 900;
  letter-spacing: 2px;
}

.navbar__desktop {
  display: none;
}

.main-container {
  margin: 60px 0 0;
}

.footer {
  background-color: #202020;
  padding: 30px;
  text-align: center;
}
.footer h4 {
  margin: 0 auto 5px;
}

#mailto {
  opacity: 0;
}

@media (min-width: 768px) {
  .main-container {
    margin: 0 auto;
  }

  .navbar__mobile,
.navbar__list-container {
    display: none;
  }

  .navbar__desktop {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-direction: row;
    justify-content: space-between;
    height: 80px;
  }
  .navbar__desktop .logo-border {
    background: linear-gradient(to right, red, purple);
    padding: 2px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 200ms ease-in-out;
    margin-left: 20px;
  }
  .navbar__desktop .logo-border:hover {
    box-shadow: 0px 0px 6px red;
  }
  .navbar__desktop .logo {
    display: block;
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
    letter-spacing: 1px;
    background-color: #040402;
    background-color: #040402;
    padding: 10px;
    font-size: 20px;
  }
  .navbar__desktop .navbar__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-direction: row;
  }
  .navbar__desktop .navbar__list li {
    font-size: 20px;
    padding: 5px;
    margin: 10px;
    letter-spacing: 1px;
    position: relative;
    cursor: pointer;
  }
  .navbar__desktop .navbar__list li:last-child {
    margin-right: 12px;
  }
  .navbar__desktop .navbar__list li a {
    color: #6f6f6f;
    transition: all 200ms ease-in-out;
  }
  .navbar__desktop .navbar__list li:hover > a {
    color: #f0f0f0;
  }
}
@media (min-width: 1000px) {
  .navbar__desktop {
    padding: 0 30px;
  }
}
/*
    Mobile: 360 x 640.
    Mobile: 375 x 667.
    Mobile: 360 x 720.
    iPhone X: 375 x 812.
    Pixel 2: 411 x 731.
    Tablet: 768 x 1024.
    Laptop: 1366 x 768.
    High-res: 1920 x 1080.
*/

/*# sourceMappingURL=styles.css.map */
