@import 'base';
@import 'index';
@import 'projects';

// Header - Start
#navbar {
    max-width: 1200px;
    margin: 0 auto;
}

.navbar__mobile {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    background-color: $primary-bg-color;
    height: $mobile-header-height;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 90;
    transition: all 300ms ease-in-out;

    &.scrollingPage {
        border-bottom: 1px solid $menu-border;
    }


    .logo {
        display: block;
        padding: 0 0 0 15px;
        font-size: 40px;
        letter-spacing: 2px;
        font-weight: 700;
    }

    .menu-btn-border {
        @include button-border;
        margin: 10px;
    }

    .menu-btn {
        @include button-inner;
        font-size: 40px;
        background-color: rgba(4, 4, 2, 1);

        // &.scrollingPage {
        //     background-color: rgba(15, 15, 15, 1);
        // }
    }
    
}

.navbar__list-container {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: $secondary-bg-color;
    transition: all 200ms;
    transform: translateX(-100%);
    z-index: 99;

    &.active {
        transform: translateX(0);
    }

    .close-btn {
        @include button;
        font-size: 36px;
        padding: 15px;
        position: absolute;
        top: 0;
        left: 0;
    }
    
    ul {
        @include flex-center;
        width: inherit;
        height: inherit;
    
        li {
            padding: 25px;
            font-size: 26px;
            font-weight: 900;
            letter-spacing: 2px;
        }
    }
}

.navbar__desktop {
    display: none;
}
// Header - End

.main-container {
    margin: $mobile-header-height 0 0;
}

.footer {
    background-color: $footer-bg-color;
    padding: 30px;
    text-align: center;

    h4 {
        margin: 0 auto 5px;
    }
}

#mailto {
    opacity: 0;
}

@media (min-width: 768px) {

    .main-container {
        margin: 0 auto;
    }
    
    .navbar__mobile,
    .navbar__list-container {
        display: none;
    }

    .navbar__desktop {
        @include flex-center;
        flex-direction: row;
        justify-content: space-between;
        height: $desktop-header-height;

        .logo-border {
            @include button-border;
            margin-left: 20px;
        }

        .logo {
            @include button-inner;
            background-color: $primary-bg-color;
            padding: 10px;
            font-size: 20px;
        }

        .navbar__list {
            @include flex-center;
            flex-direction: row;

            li {
                font-size: $desktop-navbar-text-size;
                padding: 5px;
                margin: 10px;
                letter-spacing: 1px;
                position: relative;
                cursor: pointer;
                
                &:last-child {
                    margin-right: 12px;
                }

                a {
                    color: $primary-p-color;
                    transition: all 200ms ease-in-out;
                }

                &:hover > a {
                    color: $primary-title-color;
                }
                
                
                

            }
        }
    }

}

@media (min-width: 1000px) {
    .navbar__desktop {
        padding: 0 30px; 
    }
}

/*
    Mobile: 360 x 640.
    Mobile: 375 x 667.
    Mobile: 360 x 720.
    iPhone X: 375 x 812.
    Pixel 2: 411 x 731.
    Tablet: 768 x 1024.
    Laptop: 1366 x 768.
    High-res: 1920 x 1080.
*/